@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.form-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.form-container .form{
    width: 40%;
    background-color: white;
    padding: 2rem;
    background-color: rgb(234, 246, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width:1024px) {
    .form-container .form{
        width: 50%;
    }
}
@media (max-width:800px) {
    .form-container .form{
        width: 80%;
    }
}
@media (max-width:520px) {
    .form-container .form{
        width: 90%;
    }
}

.title .content{
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}
.form .title .left, .form .title .right{
    border-top: 1px solid black;
}
.input input, .input textarea{
    width: 100%;
    outline: none;
    margin-bottom: .5rem;
    border: none;
    border-radius: 5px;
}
.input textarea{
    min-height: 10rem;
    max-height: 15rem;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    padding: 5px;
}
.input textarea:focus, .input input:focus{
    outline: 1px solid #00d4ff;
}
.input input{
    height: 2rem;
    padding:5px;
}
.form i{
    padding-right: .3rem;
    color: #020024;
}
.form button[type='submit']{
    background-color: #020024;
    color: white;
    padding: .5rem 2rem;
    align-self: center;
    border-radius: 5rem;
}
.form button[type='submit']:hover{
    cursor: pointer;
    box-shadow: 0px 15px 20px #00d4ff;
    color: #fff;
    transform: translateY(-4px);
    transition: all ease-in .2s;
}
form{
    display: flex;
    flex-direction: column;
}
.form .response .title{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.form .response .description{
    text-align: center;
}